awscli==1.11.6
beautifulsoup4==4.5.1
boto3==1.4.1
botocore==1.4.63
colorama==0.3.7
dateparser==0.5.0
docutils==0.12
futures==3.0.5
jdatetime==1.8.1
jmespath==0.9.0
lxml==3.6.4
pyasn1==0.1.9
python-dateutil==2.5.3
pytz==2016.7
regex==2016.9.22
requests==2.11.1
rsa==3.4.2
ruamel.ordereddict==0.4.9
ruamel.yaml==0.12.14
s3transfer==0.1.8
six==1.10.0
typing==3.5.2.2
tzlocal==1.3
umalqurra==0.2
